/* #ifndef APP-PLUS-NVUE */
page {
    min-height: 100%;
    height: auto;
}
/* #endif */

*{ line-height: 1;}
view{ color: inherit; line-height: 1; box-sizing: border-box;}


/* 解决头条小程序字体图标不显示问题，因为头条运行时自动插入了span标签，且有全局字体 */
/* #ifdef MP-TOUTIAO */
text :not(view) {
    font-family: uniicons;
}
/* #endif */

.uni-icon {
    font-family: uniicons;
    font-weight: normal;
}

.uni-container {
    padding: 15px;
    background-color: #f8f8f8;
}

.uni-header-logo {
    padding: 15px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10upx;
}

.uni-header-image {
    width: 80px;
    height: 80px;
}

.uni-hello-text {
    margin-bottom: 20px;
}

.hello-text {
    color: #7A7E83;
    font-size: 14px;
    line-height: 20px;
}

.hello-link {
    color: #7A7E83;
    font-size: 14px;
    line-height: 20px;
}

.uni-panel {
    margin-bottom: 12px;
}

.uni-panel-h {
    background-color: #ffffff;
    flex-direction: row;
    align-items: center;
    padding: 12px;
}
/*
.uni-panel-h:active {
    background-color: #f8f8f8;
}
 */
.uni-panel-h-on {
    background-color: #f0f0f0;
}

.uni-panel-text {
    flex: 1;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
}

.uni-panel-icon {
    margin-left: 15px;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    transform: rotate(0deg);
    transition-duration: 0s;
    transition-property: transform;
}

.uni-panel-icon-on {
    transform: rotate(180deg);
}

.uni-navigate-item {
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    border-top-style: solid;
    border-top-color: #f0f0f0;
    border-top-width: 1px;
    padding: 12px;
}

.uni-navigate-item:active {
    background-color: #f8f8f8;
}

.uni-navigate-text {
    flex: 1;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
}
.uni-navigate-icon {
    margin-left: 15px;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
}

.f20{ font-size: 20upx;}
.f22{ font-size: 22upx;}
.f24{ font-size: 24upx;}
.f26{ font-size: 26upx;}
.f28{ font-size: 28upx;}
.f30{ font-size: 30upx;}
.f40{ font-size: 40upx;}

/* 首页 */
.search-inp {
	height: 132upx;
	padding: 0 35upx;
	display: flex;
	align-items: center;
	.search-inp-in {
		height: 72upx;
		flex: 1;
		display: flex;
		align-items: center;
		background-color: #F7F7F7;
		border-radius: 10upx;
		input {
			flex: 1;
			font-size: 28upx;
		}
		image.icon-search {
			width: 27upx;
			height: 27upx;
			margin: 0 21upx 0 30upx;
		}
	}
	.search-cancel{
		font-size: 28upx;		
		width: 88upx;
		height: 88upx;
		line-height: 88upx;
		text-align: center;
		margin-left: 34upx;
	}
	.icon-msg {
		width: 88upx;
		height: 88upx;
		margin-left: 34upx;
	}
}
.index-select {
	margin: 10upx 0 40upx;
	display: flex;
	align-items: center;
	.item {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 28upx;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 1px;
			height: 100%;
			background-color: #CCCCCC;
		}
		&:last-child:after {
			width: 0;
		}
		image {
			width: 22upx;
			height: 12upx;
			margin-left: 19upx;
		}
	}
}
.index-swiper {
	padding: 0 35upx;
	image {
		width: 100%;
	}
}

.index-second-nav {
	padding: 50upx 0;
	display: flex;
	.item {
		font-size: 30upx;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			right: 0;
			top: 11upx;
			bottom: 11upx;
			width: 1px;
			// height: 100%;
			background-color: #CCCCCC;
		}
		&:last-child:after {
			width: 0;
		}
		image {
			width: 72upx;
			height: 72upx;
			margin-right: 20upx;
		}
	}
}

.index-medicine {
	.tit {
		padding-top: 20upx;
		font-size: 40upx;
		font-weight: bold;
		padding-left: 46upx;
		margin-bottom: 30upx;
	}
	.medicine-list {
		padding:30upx  35upx;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		overflow-x: scroll;
		.item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: #fff;
			box-shadow:  3upx 11upx 25upx 2upx rgba(183,183,183,0.2);
			border-radius: 10upx;
			width: 270upx;
			margin-right: 32upx;
			height: 400upx;
			.item-in{
				width: 270upx;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			image {
				width: 270upx;
				height: 270upx;
				display: block;
			}
			.item-name {
				font-size: 26upx;
				color: #666;
				margin: 23upx 0 18upx;
				padding-left: 23upx;
			}
			.item-standard {
				font-size: 24upx;
				color: #666;
				margin-bottom: 27upx;
				padding-left: 23upx;
			}
			.item-price {
				font-size: 28upx;
				color: #000;
				font-weight: bold;
				padding-left: 23upx;
				.item-unit {
					font-size: 22upx;
				}
				margin-bottom: 28upx;
			}
			&.item-more {
				margin-right: 0;
				
				.item-in{
					align-items: center;
				}
				width: 270upx;
				align-items: center;
				image {
					width: 120upx;
					height: 120upx;
					margin-bottom: 30upx;
				}
				.item-more-txt{
				color: #666;}
				font-size: 28upx;
			}
		}
	}
}
.index-recommend{
	.tit {
		padding-top: 20upx;
		font-size: 40upx;
		font-weight: bold;
		padding-left: 46upx;
		margin-bottom: 30upx;
	}
}

//推荐列表
.recommend-list{
	padding: 0 35upx;
	.item{
		margin-bottom: 40upx;
		display: flex;
		image{
			width: 310upx; height: 240upx; margin-right: 40upx;
		}
		.item-in{ flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.item-in-in{
				padding-top: 5upx;
				font-size: 30upx;
				.item-name{ font-weight: bold; margin-bottom: 18upx; line-height: 38upx;}
				.item-dec{
					display: flex;
					justify-content: space-between;
					font-size: 22upx; color: #666;
				}
			}				
			.item-time{
				font-size: 24upx;
				margin-bottom: 14upx;
			}
		}
	}
}

// 搜索
.search-list{
	padding: 0 45upx;
	.item{ 
		padding-left: 20upx;
		line-height: 85upx; border-bottom: 1px solid #E6E6E6;
		font-size: 30upx;
		color: #333;
		&.cur{color:#604EFF}
	}
}

.pop-setion-in{display: flex;}
		.setion-list{
			display: flex; flex-direction: column;
			.list-item{
				 font-size: 30upx; color: #333; font-weight: bold;
			width: 200upx; height: 80upx; line-height: 80upx;
			text-align: center; background-color: #F7F7F7;
			&.cur{ background-color: #fff;;}
			}
		}
		.setion-result-list{ 
			.list-item{ margin-bottom: 60upx;}
			padding-top: 44upx;
			padding-left: 50upx; flex: 1; background-color: #fff;font-size: 30upx; color: #333; font-weight: bold;
		}
	
		.btn-save{
			text-align: center;
			margin: 50upx 55upx 69upx;
			background: rgba(96,78,255,1);
			box-shadow:-7upx 11upx 34upx 6upx rgba(96,78,255,0.4);
			border-radius:10upx;
			color: #fff; font-size: 30upx; height: 88upx;
			 line-height: 88upx;
		}
		
		
		
			.my-top{position: relative;
				
				height: 400upx;
				padding: 65upx 40upx 0 40upx;
				.my-top-in{
					display: flex;
					align-items: center;
				}
				.icon-avatar{
					width: 128upx; height: 128upx; margin-right: 30upx; border-radius: 50%;
				}
				
				.item-name{
					flex: 1; color: #fff;font-weight: bold; font-size: 34upx;
					 // margin-bottom: 20upx;
				}
				.item-msg{
					flex: 1;
				
					.item-name{
						color: #fff;font-weight: bold; font-size: 34upx;
						 // margin-bottom: 20upx;
					}
					.item-dec{
						font-size: 26upx;
					}
				}
				.item-member{
					color: #fff; font-size: 26upx; display: flex; align-items: center;
					.icon-arrow{ margin-left: 10upx; width: 14upx; height: 24upx;}
					.white-arrow{ margin-left: 6upx;width: 16upx; height: 16upx; border-right: 1px solid #fff;border-bottom: 1px solid #fff; transform: rotate(-45deg);}
				}
			}
			
			
			.nav-join{ 
				margin-top: 70upx;
				align-items: flex-end;
				display: flex;  padding: 0 40upx 40upx;
				.item{ 
					// height: 100upx;
					font-size: 30upx; color: #666;  font-weight: bold;
					&.cur{ font-weight: bolder; position: relative;  font-size: 44upx; color: #000;
						&:after{ content:"";
							position: absolute; background-color: #604EFF; bottom:0; left: 0; right: 0; height: 6upx; border-radius: 3upx; opacity: .8;
						}
					}
					margin-right: 38upx;
					&:after{margin-right: 0;}
				}
			}
			.set-module{
				margin: 35upx;
				background-color: #fff;
				// box-shadow:7upx 4upx 42upx 6upx rgba(97,80,254,0.22);
				// box-shadow:7upx 4upx 42upx 6upx rgba(97,80,254,0.22);
				
				box-shadow:7rpx 4rpx 20rpx 6rpx rgba(200, 200,200,0.5);
				border-radius:20upx;
				padding: 0 30upx;
				.status-list{
					display: flex;
				}	
				.item{
					display: flex;
					flex-direction: column;
					flex: 1;
					padding: 35upx 0 35upx;
					text-align: center;font-size: 26upx; color: #333;
				}
			}
			.my-order{
						position: absolute;
						top: 250upx; left: 0; right: 0; 
						margin: 35upx;
						background-color: #fff;
						box-shadow:7upx 4upx 42upx 6upx rgba(97,80,254,0.22);
						border-radius:20upx;
						padding: 0 30upx;
						.tit{
							padding: 50upx 0 28upx; border-bottom: 1px solid #E6E6E6; display: flex;
							align-items: center; justify-content: space-between;
							font-size: 30upx; font-weight: bold;
							.item-more{ font-size: 24upx; color: #999; font-weight: 400;}
						}
						.status-list{
							display: flex;
						}	
						.item{display: flex;
			flex-direction: column;
							flex: 1;
							padding: 35upx 0 55upx;
							text-align: center;font-size: 24upx; color: #999;
							image{width: 64upx; height: 64upx; disply: block; margin: 0 auto 15upx;
							}
						}
					}
.confirm-msg{
	box-shadow:-7upx 11upx 34upx 6upx rgba(210,210,210,0.4);
	border-radius:20upx;
	margin: 0 25upx 35upx;
	padding: 42upx 40upx 100upx;
	
	.card-msg{border-bottom: 1px solid #E6E6E6; padding: 50upx 0;font-size: 28upx; color: #333; font-weight: bold;}
	.goods-computed{
		padding-top: 30upx;
		.item{ margin-bottom: 30upx; 
		display: flex; justify-content: space-between;
		font-size: 26upx; 
		.item-l{color: #808080; }
		.item-r{color: #333; }
		&:last-child{ margin-bottom: 0;}
		}
	}
}

.goods-price-msg{
	border-bottom: 1px solid #E6E6E6; padding-bottom: 42upx;
	display: flex; 
	image{ width: 216upx; height: 216upx; margin-right: 40upx;}
	.goods-attr{ 
		flex: 1;
		display: flex; flex-direction: column; justify-content: space-between;
	.item-name{ font-size: 28upx; color: #333;padding: 7upx 0 10upx; font-weight: bold; line-height: 38upx;}
	.item-company{ font-size: 26upx; color: #333; margin-bottom: 19upx;}
	.item-standard{ font-size: 22upx; color: #999;}
	.price-msg{
		align-items: center;
		margin-bottom: 9upx; display: flex; justify-content: space-between;
		
		.amount-inp{ border: 1px solid #E6E6E6; border-radius: 4upx; display: flex;}
		.item-sub,.item-add{ width: 47upx; height: 38upx; text-align: center; line-height: 38upx; font-size: 28upx; font-weight: bold;}
		input{ width: 70upx; border-left: 1px solid #E6E6E6; border-right: 1px solid #E6E6E6; text-align: center; line-height: 38upx; font-size: 22upx; height: 38upx;}
	}
	.other-price{  font-size: 22upx;margin-bottom: 20upx;
		display: flex; justify-content: space-between;
		color: #DD3535;
	}
	.item-price{ color: #DD3535; font-size: 22upx;
	 font-weight: bold;
		.item-unit{ font-size: 22upx;}
	}
	.item-price-dec{ font-size: 20upx; color: #999;font-weight: normal;}
	
	}
}
.pay-status{
	padding: 50upx 0 76upx;
	text-align: center;
	font-size: 30upx;
	image{
		width: 98upx; height: 98upx; display: block; margin: 0 auto 38upx;
	}
}
.pay-btns{
	display: flex;
	margin: 0 55upx;
	.btn-item{
		flex: 1; margin-right: 48upx;
		border: 1px solid rgba(96,78,255,1);
		&.btn-white{
			background-color: #fff; color: rgba(96,78,255,1);
		}
		&:last-child{ margin-right: 0;}
			text-align: center;
			background: rgba(96,78,255,1);
			// box-shadow:-7upx 11upx 34upx 6upx rgba(96,78,255,0.4);
			border-radius:10upx;
			color: #fff; font-size: 30upx; height: 88upx;
			line-height: 88upx;
	}
}


	// .confirm-msg{
	// box-shadow:-7upx 11upx 34upx 6upx rgba(210,210,210,0.4);
	// border-radius:20upx;
	// 	margin: 0 25upx 35upx;
	// 	padding: 42upx 40upx 100upx;
	// 	.goods-price-msg{ border-bottom: 1px solid #E6E6E6; padding-bottom: 42upx;
	// 		display: flex; 
	// 		image{ width: 216upx; height: 216upx; margin-right: 40upx;}
	// 		.goods-attr{ 
	// 			flex: 1;
	// 			display: flex; flex-direction: column; justify-content: space-between;
	// 		.item-name{ font-size: 28upx; color: #333;padding: 7upx 0 10upx; font-weight: bold; line-height: 38upx;}
	// 		.item-company{ font-size: 26upx; color: #333; margin-bottom: 19upx;}
	// 		.item-standard{ font-size: 22upx; color: #999;}
	// 		.price-msg{ 
	// 			align-items: center;
	// 			margin-bottom: 9upx; display: flex; justify-content: space-between;
	// 			.item-price{ color: #DD3535; font-size: 26upx; font-weight: bold;
	// 				.item-unit{ font-size: 22upx;}
	// 			}
	// 			.amount-inp{ border: 1px solid #E6E6E6; border-radius: 4upx; display: flex;}
	// 			.item-sub,.item-add{ width: 47upx; height: 38upx; text-align: center; line-height: 38upx; font-size: 28upx; font-weight: bold;}
	// 			input{ width: 70upx; border-left: 1px solid #E6E6E6; border-right: 1px solid #E6E6E6; text-align: center; line-height: 38upx; font-size: 22upx; height: 38upx;}
	// 		}
	// 		
	// 		}
	// 	}
	// 	.card-msg{border-bottom: 1px solid #E6E6E6; padding: 50upx 0;font-size: 28upx; color: #333; font-weight: bold;}
	// 	.goods-computed{
	// 		padding-top: 30upx;
	// 		.item{ margin-bottom: 30upx; 
	// 		display: flex; justify-content: space-between;
	// 		font-size: 26upx; 
	// 		.item-l{color: #808080; }
	// 		.item-r{color: #333; }
	// 		&:last-child{ margin-bottom: 0;}
	// 		}
	// 	}
	// }
	
	
	.confirm-bottom{
		background-color: #fff;
		position: fixed; bottom: 0; left: 0; right: 0; height: 100upx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.total-price{ margin-left: 40upx; font-size: 26upx; color: #DD3535; margin-right: 42upx;
	
	.item-price-dec{ font-size: 24upx; font-weight: normal; color: #333;}
	.item-unit{ font-size: 22upx;}
	}
	
	.item-price{ font-size: 26upx; font-weight: bold; color: #DD3535;}
	.item-unit{ font-size: 22upx;}
	.btn-submit{ width: 218upx; color: #fff; background-color: #604EFF; text-align: center; line-height: 100upx; font-size: 32upx;}
	.item-r{
		display: flex;
		align-items: center;
		
	}
	
	.item-l{ display: flex; font-size: 28upx; color: #333; align-items: center;}
	margin-left: 40upx;
	}
	
.btns{
	display: flex; justify-content: flex-end;
	.btn{
		border-radius: 10upx;
		width: 160upx; height: 64upx; margin-left: 30upx;
		line-height: 60upx; text-align: center; font-size: 30upx; background-color: #604EFF;
		border: 2upx solid #604EFF; color: #fff;
	}
	.btn-white{
		background-color: #fFF; color: #604EFF;
	}
}
	
.message-list{
	padding-top: 40upx;
	.item{
		box-shadow:-7upx 11upx 34upx 6upx rgba(210,210,210,0.4);
		border-radius:20upx;
		padding: 0 40upx 53upx;
		margin: 0 25upx 30upx;
		.item-top{
			display: flex;
			justify-content: space-between;
			padding: 52upx 0 29upx;
			align-items: center;
			border-bottom: 1px solid #E6E6E6;
			font-size: 30upx;
			.item-time{
				color: #333;
			}
			.item-people{
			color: #666;}
		}
		.item-in{
			padding: 30upx 0;
			display: flex;font-size: 28upx;
			line-height: 40upx;
			.item-l{
				line-height: 36upx;
				width: 130upx; color: #999; 
			}
			.item-r{
				line-height: 36upx;
				flex: 1; 
				font-size: 28upx;
				display: flex; justify-content: space-between;
				flex-wrap: wrap;
				image{ 
					width: 150upx;
					height: 150upx;
					margin-right: 2%;
					// flex: 1;
					&:nth-child(3n){
						margin-right: 0;
					}
				}
			}
		}
	}	
}


	
	
	/* 上传 */
	.uni-uploader {
		flex: 1;
		flex-direction: column;
	}
	.uni-uploader-head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.uni-uploader-info {
		color: #B2B2B2;
	}
	.uni-uploader__files {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.uni-uploader__file {
		// margin: 10upx;
		margin-right: 20upx;
		margin-bottom: 20upx;
		width: 210upx;
		height: 210upx;
	}
	.uni-uploader__file:nth-child(3n){
	margin-right: 0;	
	}
	.uni-uploader__img {
		display: block;
		width: 210upx;
		height: 210upx;
	}
	.uni-uploader__input-box {
		position: relative;
		// margin:10upx;
		width: 210upx;
		height: 210upx;
		border: 2upx solid #E6E6E6; margin-right: 60upx;
		margin-bottom: 30upx;
	}
	.uni-uploader__input-box:nth-child(3n){margin-right: 0;}
	.uni-uploader__input-box:before,
	.uni-uploader__input-box:after {
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		background-color: #D9D9D9;
	}
	.uni-uploader__input-box:before {
		width: 4upx;
		height: 79upx;
	}
	.uni-uploader__input-box:after {
		width: 79upx;
		height: 4upx;
	}
	.uni-uploader__input-box:active {
		border-color: #999999;
	}
	.uni-uploader__input-box:active:before,
	.uni-uploader__input-box:active:after {
		background-color: #999999;
	}
	.uni-uploader__input {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	
	
.upload-msg{
	.item{ padding: 50upx 40upx  0;
		.item-t{ font-size: 34upx;color: #333; font-weight: bold; margin-bottom: 35upx;}
			textarea{ width: 100%; display: block;
				font-size: 30upx; line-height: 40upx;;
			}
			input{ width: 100%; display: block; 
			font-size: 30upx; line-height: 40upx;;}
		
		.item-b{
			padding-bottom: 30upx;
			border-bottom: 1px solid #E6E6E6;
		}
		
	}
	
	.item-pics{
		padding: 47upx 40upx;
		.tit{ font-size: 34upx;color: #333; font-weight: bold; margin-bottom: 40upx;}
	}
}

//门诊列表
.outpatientlist{
	margin-top: 10upx;
	.item{
		margin: 0 35upx 30upx;
		background-color: #fff;
		box-shadow:1px 4upx 19upx 2upx rgba(214,214,214,0.3);
		border-radius:20upx;
		padding: 40upx 35upx 40upx 40upx; display: flex;
		font-size: 26upx; color: #666; 
		.icon-avatar{
			width: 72upx; height: 72upx; margin-right: 28upx; border-radius: 10upx;
		}
		.item-msg{ flex: 1;}
		.item-top{ 
			align-items: center; display: flex; justify-content: space-between;
		.item-top-in{ display: flex; align-items: center;}
		}
		.item-name{ font-size: 30upx; color: #333; font-weight: bold; line-height: 36upx; margin-right: 19upx;}
		.item-grade{ font-size: 26upx; color: #999; }
		.item-status { display: flex; align-items: center;
			font-size: 26upx; color: #999;
			image{ width: 34upx; height: 28upx; margin-right: 11upx;}
			
		}
		.item-hosipital{ margin: 27upx 0 19upx;}
		.item-amount{ margin-bottom: 22upx;}
		.item-address,.item-intro{ line-height: 1.4; margin: 20upx 0;}
	}
}

//招聘列表
.job-list{
	.item{
		padding: 50upx 40upx 40upx;
		background-color: #fff;
		box-shadow:1px 6upx 22upx 3upx rgba(218,218,218,0.4);
		border-radius:16upx;
		margin: 0 40upx 40upx;
		.item-top{ margin-bottom: 30upx;
		 display: flex; justify-content: space-between; align-items: center;}
		.item-name{ font-size: 40upx; color: #333; font-weight: bold;}
		.item-pay{ font-size: 34upx; color: #604EFF; }
		.item-company{ margin-bottom: 20upx;}
		color: #666; font-size: 28upx;
		.item-tags{
			display: flex;  flex-wrap: wrap; 
			.tag-item{margin-bottom: 30upx;  border-radius: 10upx; font-size: 24upx; color: #666; background-color: #F7F7F7; padding: 0 23upx; height: 50upx; line-height: 50upx; margin-right: 20upx; 
			&:last-child{ margin-right: 0;} 
			}
			
		}
	}
}

.index-select{ position: relative;}
.pop-setion{
	z-index: 2;
position: absolute;
background-color: #fff;
left: 35upx;
right: 35upx; top: 67upx; 
box-shadow:1px 4upx 19upx 2upx rgba(214,214,214,0.3);
}
picker{
	width: 100%; 
	&.picker-item{display: flex; justify-content: center; align-items: center;}
	view{ width: 100%; flex: 1; position: relative;}
}
.detail-msg{
rich-text{
	line-height: 1.4;
	img{
		max-width: 100%!important;
	}
}
}